__pycache__/
*.egg-info/
.venv/
data/vectors/
results/runs/
*.npz
.DS_Store
results/runs/
paper/*.aux
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
paper/*.bbl
paper/*.blg

# LaTeX build artifacts
*.spl
*.out
*.bbl
*.blg
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
